<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Forgot Password Email</title>
    <style>
        /* Responsive */
        @media screen and (max-width: 600px) {
            .container {
                width: 100% !important;
            }

            .mobile-center {
                text-align: center !important;
            }

            .mobile-stack {
                display: block !important;
                width: 100% !important;
            }

            .button {
                display: block !important;
                width: 100% !important;
                text-align: center !important;
            }

            img.responsive {
                max-width: 100% !important;
                height: auto !important;
            }
        }
    </style>
</head>
<body
        style="margin:0; padding:0; background-color:#f7f7f7; font-family: Arial, sans-serif; color:#333;">
<table cellpadding="0" cellspacing="0" role="presentation" style="background-color:#f7f7f7; padding:20px 0;"
       width="100%">
    <tr>
        <td align="center">
            <table cellpadding="0" cellspacing="0" class="container"
                   role="presentation" style="background-color:#ffffff; border-radius:8px; padding:20px;"
                   width="600">
                <tr>
                    <td align="center">
                        <img alt="GoConCoche"
                             class="responsive" src="https://res.cloudinary.com/dpwkcusv6/image/upload/v1759448264/logo_pobtl9.png"
                             style="max-width:200px; margin-bottom:20px;">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <h1
                                style="font-size:36px; font-weight:bold; margin:10px 0;">¡Hello,
                            <span
                                    th:text="${username}"></span>!</h1>
                        <p
                                style="font-size:15px; line-height:22px; margin:0 20px;">
                            We received a request to reset the password for your
                            <strong>GoConCoche</strong> account. To proceed with changing your password, please click the button below:
                            <br><br>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0 20px; text-align:center;">
                        <a class="button" href="#"
                           style="background-color:#00bcd4; color:#fff; text-decoration:none; padding:12px 20px; border-radius:6px; font-weight:bold; display:inline-block; width:70%; box-sizing:border-box;">
                            RESET PASSWORD
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding:30px 20px;">
                        <h2
                                style="font-size:18px; font-weight:bold; text-align:center;">Important Security Notice:</h2>
                        <table cellpadding="5" role="presentation"
                               width="100%">
                            <tr>
                                <td width="30"><img
                                        alt="Check"
                                        class="responsive"
                                        src="https://res.cloudinary.com/dpwkcusv6/image/upload/v1759595602/flecha_fagjbx.png"
                                        style="max-width:20px;">
                                </td>
                                <td>
                                    <p
                                            style="margin:0; font-size:14px;">For security reasons, this recovery link will <strong>expire in 10 minutes.</strong> If you don't use it within that time, you'll need to submit a new request.</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="30"><img
                                        alt="Check"
                                        class="responsive"
                                        src="https://res.cloudinary.com/dpwkcusv6/image/upload/v1759595602/flecha_fagjbx.png"
                                        style="max-width:20px;">
                                </td>
                                <td>
                                    <p
                                            style="margin:0; font-size:14px;">If <strong>you did not request</strong> this password change, you can safely <strong>ignore this email.</strong> Your password will remain the same.</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding:20px;">
                        <p
                                style="font-size:14px; font-style:italic; margin:5px 0;">
                            If you have any questions, please don't
                            hesitate to contact our support team.
                        </p>
                        <p
                                style="font-size:14px; font-style:italic; margin:5px 0;">
                            See you on the road!
                        </p>
                        <br>
                        <p style="font-size:14px; margin-top:10px;">The
                            GoConCoche team.</p>
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" class="container"
                   role="presentation" style="background-color:#f7f7f7; padding:20px; margin-top:10px;"
                   width="600">
                <tr>
                    <td align="center">
                        <a href="#"><img
                                alt="Facebook"
                                src="https://res.cloudinary.com/dpwkcusv6/image/upload/v1759448261/facebook-logo-black_jp50ls.png"
                                style="width:30px; height:30px; margin:0 8px;"></a>
                        <a href="#"><img
                                alt="X"
                                src="https://res.cloudinary.com/dpwkcusv6/image/upload/v1759448261/x-logo-black_ewladb.png"
                                style="width:30px; height:30px; margin:0 8px;"></a>
                        <a href="#"><img
                                alt="Instagram"
                                src="https://res.cloudinary.com/dpwkcusv6/image/upload/v1759448261/instagram-logo-black_ufg5tr.png"
                                style="width:30px; height:30px; margin:0 8px;"></a>
                        <a href="#"><img
                                alt="YouTube"
                                src="https://res.cloudinary.com/dpwkcusv6/image/upload/v1759448260/youtube-logo-black_uts5ux.png"
                                style="width:30px; height:30px; margin:0 8px;"></a>
                    </td>
                </tr>
                <tr>
                    <td align="center"
                        style="font-size:12px; color:#777; padding-top:10px;">
                        <p style="margin:5px 0;">GoConCoche © More Than
                            Code Team, Inc. All Rights Reserved.</p>
                        <p style="margin:5px 0;">Colón 34, 46004
                            Valencia, España</p>
                        <p style="margin:10px 0;">
                            <a href="#"
                               style="color:#777; text-decoration:none; margin:0 10px;">Visit
                                Us</a> |
                            <a href="#"
                               style="color:#777; text-decoration:none; margin:0 10px;">Privacy
                                Policy</a> |
                            <a href="#"
                               style="color:#777; text-decoration:none; margin:0 10px;">Terms
                                of Use</a>
                        </p>
                        <p style="margin:10px 0;color:#999">
                            No longer want to receive these emails?
                            <a href="#"
                               style="color:#999; text-decoration:underline;">Unsubscribe</a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

</html>